# Proyecto de Grado - Ciencia de Datos
# Universidad Libre Cali
## Leiner Ceballos Rodriguez
## David Cespedes

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import seaborn as sns
from scipy.stats import mode

In [2]:
tbl_facturas = pd.read_excel("TBL_FACTURAS.xlsx")

In [34]:
print(tbl_facturas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129069 entries, 0 to 129068
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   PREFIJO      129069 non-null  object
 1   CONSECUTIVO  129069 non-null  int64
 2   ID_FACTURA   129069 non-null  int64
 3   SUCURSAL     129069 non-null  int64
 4   CLIENTE      129069 non-null  int64
 5   TOTAL        129069 non-null  float64
 6   FECHA        129069 non-null  datetime64[ns]
 7   CONTRATO     53640 non-null   float64
 8   F_CREADO     129069 non-null  datetime64[ns]
 9   USUARIO      129069 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(5), object(1)
memory usage: 9.8+ MB
None

In [4]:
tbl_sucursales = pd.read_excel("TBL_SUCURSALES.xlsx")

In [7]:
# Unión entre ambos DataFrames
df_fact_sucursal = pd.merge(left=tbl_facturas,right=tbl_sucursales, left_on='SUCURSAL', right_on='ID_SUCURSAL')

### Se exportan los datos necesarios para crear un solo DataFrame

In [35]:
# Se exportan los datos de la tabla de contratos
tbl_contratos = pd.read_excel("TBL_CONTRATOS.xlsx")
# Unión entre el merge y tbl_contratos
merged_contratos = pd.merge(left=tbl_contratos,right=df_fact_sucursal, left_on='ID_CONTRATO', right_on='CONTRATO')
# Se exportan los datos de la tabla de planes isp
tbl_planes = pd.read_excel("TBL_PLANES_ISP.xlsx")
# Unión entre el merge y tbl_planes_isp
merged_planes = pd.merge(left=merged_contratos,right=tbl_planes, left_on='PLANISP', right_on='ID_PLAN_ISP')
# Se exportan los datos de la tabla de productos
tbl_productos = pd.read_excel("TBL_PRODUCTOS.xlsx")
# Unión entre el merge y tbl_productos
merged_productos = pd.merge(left=merged_planes,right=tbl_productos, left_on='PRODUCTO', right_on='ID_PRODUCTO')

### Datos

In [39]:
datos = pd.DataFrame(merged_productos)
datos.head()

,ID_CONTRATO,PLANISP,SERVER,EQUIPO,ROUTER_UK,IP,MAC,FECHA_CONTRATO,MEDIO_CONEXION,PREFIJO,...,LATITUD,COORDENADAS,ID_PLAN_ISP,PRODUCTO,MAX_BAJADA,MAX_SUBIDA,MIN_BAJADA,MIN_SUBIDA,ID_PRODUCTO,NOMBRE_PRODUCTO
0,16,13,6,694,155,10.10.8.16,68:72:51:12:3C:20,2017-04-24,RADIO ENLACE,FE,...,-76.684428,"2.3516917147644767, -76.68442829923572",13,119,2148,600,0,0,119,INTERNET HOGAR 2 MEGAS
1,16,13,6,694,155,10.10.8.16,68:72:51:12:3C:20,2017-04-24,RADIO ENLACE,FE,...,-76.684428,"2.3516917147644767, -76.68442829923572",13,119,2148,600,0,0,119,INTERNET HOGAR 2 MEGAS
2,16,13,6,694,155,10.10.8.16,68:72:51:12:3C:20,2017-04-24,RADIO ENLACE,FE,...,-76.684428,"2.3516917147644767, -76.68442829923572",13,119,2148,600,0,0,119,INTERNET HOGAR 2 MEGAS
3,16,13,6,694,155,10.10.8.16,68:72:51:12:3C:20,2017-04-24,RADIO ENLACE,FE,...,-76.684428,"2.3516917147644767, -76.68442829923572",13,119,2148,600,0,0,119,INTERNET HOGAR 2 MEGAS
4,16,13,6,694,155,10.10.8.16,68:72:51:12:3C:20,2017-04-24,RADIO ENLACE,FE,...,-76.684428,"2.3516917147644767, -76.68442829923572",13,119,2148,600,0,0,119,INTERNET HOGAR 2 MEGAS

### Se limpian los datos vacios o nulos

In [40]:
# ¿Hay datos nulos?
print(datos.info())
print(datos.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45043 entries, 0 to 45042
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_CONTRATO      45043 non-null  int64
 1   PLANISP          45043 non-null  int64
 2   SERVER           45043 non-null  int64
 3   EQUIPO           45043 non-null  int64
 4   ROUTER_UK        45043 non-null  int64
 5   IP               45043 non-null  object
 6   MAC              45043 non-null  object
 7   FECHA_CONTRATO   45043 non-null  datetime64[ns]
 8   MEDIO_CONEXION   45043 non-null  object
 9   PREFIJO          45043 non-null  object
 10  CONSECUTIVO      45043 non-null  int64
 11  ID_FACTURA       45043 non-null  int64
 12  SUCURSAL         45043 non-null  int64
 13  CLIENTE          45043 non-null  int64
 14  TOTAL            45043 non-null  float64
 15  FECHA            45043 non-null  datetime64[ns]
 16  CONTRATO         45043 non-null  float64
 17  F_CREADO         45043 non-null  datetime64[ns]
 18  USUARIO          45043 non-null  int64
 19  ID_SUCURSAL      45043 non-null  int64
 20  NOMBRE_SUCURSAL  45043 non-null  object
 21  DIRECCION        44853 non-null  object
 22  CIUDAD           45043 non-null  int64
 23  ZONA             45043 non-null  object
 24  LONGITUD         45043 non-null  float64
 25  LATITUD          45043 non-null  float64
 26  COORDENADAS      45043 non-null  object
 27  ID_PLAN_ISP      45043 non-null  int64
 28  PRODUCTO         45043 non-null  int64
 29  MAX_BAJADA       45043 non-null  int64
 30  MAX_SUBIDA       45043 non-null  int64
 31  MIN_BAJADA       45043 non-null  int64
 32  MIN_SUBIDA       45043 non-null  int64
 33  ID_PRODUCTO      45043 non-null  int64
 34  NOMBRE_PRODUCTO  45043 non-null  object
dtypes: datetime64[ns](3), float64(4), int64(19), object(9)
memory usage: 12.4+ MB
None
ID_CONTRATO          0
PLANISP              0
SERVER               0
EQUIPO               0
ROUTER_UK            0
IP                   0
MAC                  0
FECHA_CONTRATO       0
MEDIO_CONEXION       0
PREFIJO              0
CONSECUTIVO          0
ID_FACTURA           0
SUCURSAL             0
CLIENTE              0
TOTAL                0
FECHA                0
CONTRATO             0
F_CREADO             0
USUARIO              0
ID_SUCURSAL          0
NOMBRE_SUCURSAL      0
DIRECCION          190
CIUDAD               0
ZONA                 0
LONGITUD             0
LATITUD              0
COORDENADAS          0
ID_PLAN_ISP          0
PRODUCTO             0
MAX_BAJADA           0
MAX_SUBIDA           0
MIN_BAJADA           0
MIN_SUBIDA           0
ID_PRODUCTO          0
NOMBRE_PRODUCTO      0
dtype: int64

### Algunos datos de la base de datos son nulos o NaN, debemos cambiarlo para tener una base de datos uniforme

In [41]:
datos['DIRECCION'].fillna("SIN DIRECCIÓN", inplace = True)

### Con el código anterior reemplazamos el valor nulo en los datos por un 0, támbien se puede reemplazar por el promedio de la columna si fuera un campo de valores o eliminar las filas con datos nulos

In [43]:
# Contenido de la estructura corregida