# Proyecto de Grado - Ciencia de Datos
# Universidad Libre Cali
## Leiner Ceballos Rodriguez
## David Cespedes

In [38]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import seaborn as sns
from scipy.stats import mode

In [39]:
tbl_facturas = pd.read_excel("TBL_FACTURAS.xlsx")

In [40]:
tbl_facturas

,PREFIJO,CONSECUTIVO,ID_FACTURA,SUCURSAL,CLIENTE,TOTAL,FECHA,CONTRATO,F_CREADO,USUARIO
0,BT,1,1,3,304,5200.0,2013-07-01,NaN,2013-07-01,3
1,BT,2,2,3,303,5200.0,2013-07-01,NaN,2013-07-01,3
2,BT_,3,73,3,307,18200.0,2013-07-02,NaN,2013-07-02,3
3,BT_,4,74,3,75,60000.0,2013-07-02,NaN,2013-07-02,2
4,BT_,5,75,3,76,60000.0,2013-07-02,NaN,2013-07-02,2
...,...,...,...,...,...,...,...,...,...,...
129064,FE,53830,132628,16,8978,59000.0,2021-05-20,6734.0,2021-05-20,78
129065,FE,53831,132629,16,9272,59000.0,2021-05-20,6921.0,2021-05-20,78
129066,FE,53832,132630,2,8168,29000.0,2021-05-20,5780.0,2021-05-20,32
129067,FE,53833,132631,2,3976,64000.0,2021-05-20,1343.0,2021-05-20,32
129068,FE,53834,132632,2,8680,55000.0,2021-05-20,6309.0,2021-05-20,32

In [41]:
tbl_sucursales = pd.read_excel("TBL_SUCURSALES.xlsx")

In [42]:
tbl_facturas.columns

Index(['PREFIJO', 'CONSECUTIVO', 'ID_FACTURA', 'SUCURSAL', 'CLIENTE', 'TOTAL',
       'FECHA', 'CONTRATO', 'F_CREADO', 'USUARIO'],
      dtype='object')

In [43]:
tbl_sucursales.columns

Index(['ID_SUCURSAL', 'NOMBRE_SUCURSAL', 'DIRECCION', 'CIUDAD', 'ZONA',
       'LONGITUD', 'LATITUD', 'COORDENADAS'],
      dtype='object')

In [44]:
# Unión entre ambos DataFrames
merged_inner = pd.merge(left=tbl_facturas,right=tbl_sucursales, left_on='SUCURSAL', right_on='ID_SUCURSAL')

In [45]:
merged_inner.shape
merged_inner

,PREFIJO,CONSECUTIVO,ID_FACTURA,SUCURSAL,CLIENTE,TOTAL,FECHA,CONTRATO,F_CREADO,USUARIO,ID_SUCURSAL,NOMBRE_SUCURSAL,DIRECCION,CIUDAD,ZONA,LONGITUD,LATITUD,COORDENADAS
0,BT,1,1,3,304,5200.0,2013-07-01,NaN,2013-07-01,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
1,BT,2,2,3,303,5200.0,2013-07-01,NaN,2013-07-01,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
2,BT_,3,73,3,307,18200.0,2013-07-02,NaN,2013-07-02,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
3,BT_,4,74,3,75,60000.0,2013-07-02,NaN,2013-07-02,2,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
4,BT_,5,75,3,76,60000.0,2013-07-02,NaN,2013-07-02,2,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129064,FE,53827,132625,16,6936,50000.0,2021-05-20,6434.0,2021-05-20,78,16,VILLA GORGONA PRINCIPAL,CARRERA 15 # 15 - 33,1163,CANDELARIA,3.412028,-76.383348,"3.4120275830773794, -76.38334846859593"
129065,FE,53828,132626,16,6991,50000.0,2021-05-20,6551.0,2021-05-20,78,16,VILLA GORGONA PRINCIPAL,CARRERA 15 # 15 - 33,1163,CANDELARIA,3.412028,-76.383348,"3.4120275830773794, -76.38334846859593"
129066,FE,53829,132627,16,8575,59000.0,2021-05-20,6541.0,2021-05-20,78,16,VILLA GORGONA PRINCIPAL,CARRERA 15 # 15 - 33,1163,CANDELARIA,3.412028,-76.383348,"3.4120275830773794, -76.38334846859593"
129067,FE,53830,132628,16,8978,59000.0,2021-05-20,6734.0,2021-05-20,78,16,VILLA GORGONA PRINCIPAL,CARRERA 15 # 15 - 33,1163,CANDELARIA,3.412028,-76.383348,"3.4120275830773794, -76.38334846859593"
129068,FE,53831,132629,16,9272,59000.0,2021-05-20,6921.0,2021-05-20,78,16,VILLA GORGONA PRINCIPAL,CARRERA 15 # 15 - 33,1163,CANDELARIA,3.412028,-76.383348,"3.4120275830773794, -76.38334846859593"

In [46]:
# Convierte el objeto en DataFrame
df = pd.DataFrame(merged_inner)
df.head()

,PREFIJO,CONSECUTIVO,ID_FACTURA,SUCURSAL,CLIENTE,TOTAL,FECHA,CONTRATO,F_CREADO,USUARIO,ID_SUCURSAL,NOMBRE_SUCURSAL,DIRECCION,CIUDAD,ZONA,LONGITUD,LATITUD,COORDENADAS
0,BT,1,1,3,304,5200.0,2013-07-01,NaN,2013-07-01,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
1,BT,2,2,3,303,5200.0,2013-07-01,NaN,2013-07-01,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
2,BT_,3,73,3,307,18200.0,2013-07-02,NaN,2013-07-02,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
3,BT_,4,74,3,75,60000.0,2013-07-02,NaN,2013-07-02,2,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
4,BT_,5,75,3,76,60000.0,2013-07-02,NaN,2013-07-02,2,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"

### Se limpian los datos vacios o nulos

In [47]:
# ¿Hay datos nulos?
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129069 entries, 0 to 129068
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PREFIJO          129069 non-null  object
 1   CONSECUTIVO      129069 non-null  int64
 2   ID_FACTURA       129069 non-null  int64
 3   SUCURSAL         129069 non-null  int64
 4   CLIENTE          129069 non-null  int64
 5   TOTAL            129069 non-null  float64
 6   FECHA            129069 non-null  datetime64[ns]
 7   CONTRATO         53640 non-null   float64
 8   F_CREADO         129069 non-null  datetime64[ns]
 9   USUARIO          129069 non-null  int64
 10  ID_SUCURSAL      129069 non-null  int64
 11  NOMBRE_SUCURSAL  129069 non-null  object
 12  DIRECCION        128106 non-null  object
 13  CIUDAD           129069 non-null  int64
 14  ZONA             129069 non-null  object
 15  LONGITUD         129069 non-null  float64
 16  LATITUD          129069 non-null  float64
 17  COORDENADAS      129069 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(7), object(5)
memory usage: 18.7+ MB
None
PREFIJO                0
CONSECUTIVO            0
ID_FACTURA             0
SUCURSAL               0
CLIENTE                0
TOTAL                  0
FECHA                  0
CONTRATO           75429
F_CREADO               0
USUARIO                0
ID_SUCURSAL            0
NOMBRE_SUCURSAL        0
DIRECCION            963
CIUDAD                 0
ZONA                   0
LONGITUD               0
LATITUD                0
COORDENADAS            0
dtype: int64

### Algunos datos de la base de datos son nulos o NaN, debemos cambiarlo para tener una base de datos uniforme

In [48]:
df['CONTRATO'].fillna(0, inplace = True)

df['DIRECCION'].fillna("NO TIENE", inplace = True)

### Con el código anterior reemplazamos el valor nulo en los datos por un 0, támbien se puede reemplazar por el promedio de la columna si fuera un campo de valores o eliminar las filas con datos nulos

In [49]:
# Contenido de la estructura corregida
df.head()

,PREFIJO,CONSECUTIVO,ID_FACTURA,SUCURSAL,CLIENTE,TOTAL,FECHA,CONTRATO,F_CREADO,USUARIO,ID_SUCURSAL,NOMBRE_SUCURSAL,DIRECCION,CIUDAD,ZONA,LONGITUD,LATITUD,COORDENADAS
0,BT,1,1,3,304,5200.0,2013-07-01,0.0,2013-07-01,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
1,BT,2,2,3,303,5200.0,2013-07-01,0.0,2013-07-01,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
2,BT_,3,73,3,307,18200.0,2013-07-02,0.0,2013-07-02,3,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
3,BT_,4,74,3,75,60000.0,2013-07-02,0.0,2013-07-02,2,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"
4,BT_,5,75,3,76,60000.0,2013-07-02,0.0,2013-07-02,2,3,QUEREMAL,CARRERA 10 # 7 -13,1133,CENTRO,3.523325,-76.712229,"3.523325253059907, -76.71222919053412"